body {
  font-family: Arial, sans-serif;
  background-color: rgb(97, 99, 191);
  margin: 0px;
}

#fondoTitulo {
  background-color: rgb(97, 99, 191);
  width: 30%;
  padding: 0;
  margin: 10px auto 30px auto;
  border-radius: 2px;
  display: block;
  text-align: center;
}

h1 {
  color:  #ffd000f1;
  -webkit-text-stroke: #000000;
  -webkit-text-stroke-width: 0.5px;
  text-align: center;
  margin-top: 30px;
  font-size: 40px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h2 {
  text-align: center;
  font-size: 24px;
  margin-top: -30px;
  color: #000000;
  margin-bottom: 30px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.calculadora {
  width: 314px;
  margin: 0 auto;
  background: linear-gradient(#868484,rgb(70, 65, 65));
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(223, 155, 8, 0.1);
  border-color: black;
  border: 4px solid black;
}

#pantalla {
  width: 92%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 0;
  background-color: #d5cdcd;
  font-size: 20px;
  margin-bottom: 10px;
  text-align: right;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

input[type="button"] {
  width: 70px;
  height: 40px;
  margin-right: 5px;
  margin-bottom: 5px;
  font-size: 16px;
  background-color: #ffd000f1;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
}

input[type="button"]:hover {
  background-color: #f0ba27;
}

input[type="button"]:last-child {
  margin-right: 0;
}
