@font-face {
  font-family: 'AirwaysPersonalUseOnly-5Rr8'; /* Nombre de la fuente, sin la extensión */
  src: url('./airways-font/AirwaysPersonalUseOnly-5Rr8.ttf') format('opentype'); /* Ruta del archivo y formato */
}

*{
  margin: 0;
  padding: 0;
}

section{
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
section .air{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(https://1.bp.blogspot.com/-xQUc-TovqDk/XdxogmMqIRI/AAAAAAAACvI/AizpnE509UMGBcTiLJ58BC6iViPYGYQfQCLcBGAsYHQ/s1600/wave.png);
  background-size: 1000px 100px
}
section .air.air1{
  animation: wave 30s linear infinite;
  z-index: 1000;
  opacity: 1;
  animation-delay: 0s;
  bottom: 0;
}
section .air.air2{
  animation: wave2 15s linear infinite;
  z-index: 999;
  opacity: 0.5;
  animation-delay: -5s;
  bottom: 10px;
}
section .air.air3{
  animation: wave 30s linear infinite;
  z-index: 998;
  opacity: 0.2;
  animation-delay: -2s;
  bottom: 15px;
}
section .air.air4{
  animation: wave2 5s linear infinite;
  z-index: 997;
  opacity: 0.7;
  animation-delay: -5s;
  bottom: 20px;
}
@keyframes wave{
  0%{
    background-position-x: 0px; 
  }
  100%{
    background-position-x: 1000px; 
  }
}
@keyframes wave2{
  0%{
    background-position-x: 0px; 
  }
  100%{
    background-position-x: -1000px; 
  }
}


body {
    font-family: Arial, sans-serif;
    background-image: url(/img/cielo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  
  .contenedor {
    min-width: 300px;
    max-width: 500px;
    margin: 50px auto;
    margin-left: auto;
    margin-right: auto;
    min-height: 300px; 
    max-height: 500px;
    padding: 5px;
    text-align: center;
    background: linear-gradient(#d8d8d6, #1dbfd8cb);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transform: scale(0.75);
    transform-origin: top center; 
    width: 100%;
    margin-right: auto;
  }


  h1 {
    color: rgb(57, 59, 59);
    font-family: 'AirwaysPersonalUseOnly-5Rr8';
    font-weight: bold;
    font-size: 40px;
    margin: 20px;
  }
  

  h2 {
    margin-bottom: 20px;
    font-size: 25px;
  }
  input, button {
    font-size: 16px;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #06b2cdcb;
    background-color: #06b2cdcb;
    outline: none !important;
}

button {
  cursor: pointer;
  font-family:Arial, Helvetica, sans-serif;
}

input {
    width: 250px;
    background-color: #fffffffb;
    box-sizing: border-box;
    color: black;
}
  
  #datosClima {
    margin-top: 20px;
    font-size: 18px;
  }
  
  h3 {
    font-family: Arial, Helvetica, sans-serif; 
    color: black;
    margin: 20px;
  }