@font-face {
  font-family: "Coffee Spark";
  src: url("./fuentes/coffee-spark.ttf");
}

@font-face {
  font-family: "Digital-7";
  src: url("./fuentes/digital-7.ttf");
}

body {
    text-align: center;
    background: linear-gradient(to bottom, red, yellow);
    background-size: 100% 100%;
    width: 100%;
    min-height: 100vh;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
    overflow: hidden;
  }
  h1 {
    color: #333;
    font-family: "Coffee Spark";
    font-size: 90px;
}

h3 {
  background: linear-gradient(#333, black);
  margin: 0 auto;
  padding: 0;
  border: 6px solid black;
  border-radius: 20px;
}

h2 {
  font-family: 'Digital-7';
  font-size: 20px;
  margin: -70px auto 70px;
}

#explosion {
  width: 100%;
  height: 600px;
  clip-path: inset(0 0 50% 0);
  margin-top: -50px;
  z-index: 1;
  position: relative;
}

#boton-jugar {
  position: relative;
  background-color: rgb(0, 0, 0);
  font-size: 30px;
  color: white;
  border-radius: 20px;
  padding: 20px 15px;
  width: 300px;
  display: block;
  margin-top: -16.5rem;
  z-index: 11;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#boton-jugar:hover {
  color: transparent;
}

#boton-audio {
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
  position: absolute;
  text-align: center;
  z-index: 10;
  margin-top: 30px;
  transform:translateX(-50%) translateY(-50%);
  left: auto;
  bottom: 50px;
}

.imagenes {
  position: relative;
  width: 400px; /* Ajusta según tus necesidades */
  height: 300px; /* Ajusta según tus necesidades */
  display: none;
}

.imagenes img {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

#imagen1 {
  animation-name: flash1;
  display: none;
}

#imagen2 {
  animation-name: flash2;
  animation-delay: 2s; /* Aparecerá después de 2 segundos */
  display: none;
}

@keyframes flash1 {
  0% {
      opacity: 0;
  }
  50% {
      opacity: 1;
      box-shadow: 0 0 20px 10px white;
  }
  100% {
      opacity: 1;
      box-shadow: 0 0 0 0 white;
  }
}

@keyframes flash2 {
  0% {
      opacity: 0;
  }
  50% {
      opacity: 1;
      box-shadow: 0 0 20px 10px white;
  }
  100% {
      opacity: 1;
      box-shadow: 0 0 0 0 white;
  }
}

#boton-jugar:after{
  content: attr(data-hover-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: rgb(158, 11, 11);
  opacity: 0;
  transition: opacity 0.3s;
  border-radius: 20px;
}


#boton-jugar:hover::after{
  opacity: 1;
  border-radius: 20px;
}

p, h4 {
  font-size: 20px;
  font-weight: bold;
  font-family: 'Digital-7';
}

p {
  margin-bottom: 20px !important;
}

#juego {
  opacity: 0;
  margin: 10px auto;
  transition: opacity 2s ease-in-out;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translateX(-50%) translateY(-50%);
  pointer-events: none;
}

  input {
    padding: 5px;
    font-size: 16px;
  }
  
  input[type="text"] {
    width: 25px;
    height: 25px;
    display: inline;
  }

  button {
    display: block;
    margin: 20px auto;
    padding: 8px 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
  }


  .explosion-container {
    position: inline;
    display: inline-block; /* Asegura que el contenedor se ajuste al tamaño de la imagen */
}

/* Animación de chispa */
@keyframes spark {
    0% { opacity: 0; transform: translateY(100px); }
    50% { opacity: 1; }
    100% { opacity: 0; transform: translateY(-100px); }
}

/* Estilo para la chispa */
.spark {
    position: absolute;
    width: 4px; /* Ancho de la chispa */
    height: 4px; /* Alto de la chispa */
    background-color: yellow; /* Color de la chispa */
    border-radius: 50%; /* Forma redondeada */
    animation: spark 1.8s linear infinite; /* Animación infinita */
    z-index: -1;
}

:root {
  /* the only thing needed is a grainy/noisy background image */
  --glitter: url("https://assets.codepen.io/13471/silver-glitter-background.png");
}

.fire::before,
.fire::after {
  content: "";
  position: absolute;
  inset: 0;
}

.fire::before {
  content: "";
  background-image: var(--glitter), var(--glitter),
      linear-gradient(
          0deg,
          white 0px,
          #ff8951 5px,
          #dcbc169c 30%,
          transparent 70%
      ),
      radial-gradient(ellipse at bottom, transparent 30%, black 60%);
  background-size: 350px 500px, 400px 650px, 100% 100%, 100% 100%;
  background-blend-mode: hard-light, color-dodge, multiply;
  background-position: 0px 0px, 0px 0px, var(--gradientPos);
  background-repeat: repeat, repeat, repeat, no-repeat;
  mix-blend-mode: color-dodge;
  filter: brightness(3.7) blur(7px) contrast(6);
  animation: fire 1.75s linear infinite;
  box-shadow: inset 0 -40px 50px -60px #63bbc5;
}

@keyframes fire {
  0% {
      background-position: center 0px, center 0px, 50% 100%, center center;
  }
  100% {
      background-position: center -500px, center -650px, 50% 100%, center center;
  }
}

html,
body {
  min-width: 100%;
  min-height: 100%;
}

.fire {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
  

.fade-out {
  opacity: 0;
  transition: opacity 2s ease-out;
}

.fade-in {
  animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.time-bar {
  width: 100vw;
  height: 30px;
  background-color: #ccc;
  position: fixed;
  top: 0 !important;
  left: 0 !important;
  z-index: 1000; /* Asegura que esté arriba de todo */
  border: 0;
  opacity: 0;
  overflow: hidden;
  transition: opacity 2s ease-in-out;
}


.bar-progress {
  height: 100%;
  background: linear-gradient(to right, rgb(255, 217, 3), rgb(255, 176, 6), rgb(238, 53, 7), rgb(248, 0, 0));
  transition: width 1s linear;
  position: relative;
  z-index: 10;  
}


#counter-container {
  position: relative;
  width: 100%;
  height: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#counter {
  font-family: 'Digital-7', 'Coffee Spark';
  font-size: 3rem !important;
  position: absolute;
  margin: 20px auto;
  text-align: center;
  z-index: 1;
  opacity: 0;
  transition: opacity 2s ease-in-out;
  border: 4px solid black;
  border-radius: 10px;
  background: linear-gradient(to right, #333, rgb(53, 49, 49));
  width: 200px;
  color: red;
  padding: 15px;
  margin-top: -50px !important;
}

/* Estilos básicos del botón */
#comprobar {
  width: 150px;
  padding: 15px 30px; /* Ajusta el padding para el tamaño del botón */
  background-color: #c91905; /* Color de fondo del botón */
  color: white; /* Color del texto dentro del botón */
  font-size: 25px; /* Tamaño del texto */
  font-family: 'Digital-7';
  text-transform: uppercase; /* Texto en mayúsculas */
  border: 2px solid #c91905; /* Borde del botón */
  border-radius: 10px; /* Borde redondeado */
  position: relative; /* Posición relativa para los elementos internos */
  overflow: hidden; /* Oculta el desbordamiento */
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  padding: 20px;
  pointer-events: none;
  display: none;
}

#comprobar:hover {
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}

/* Efecto al pasar el ratón sobre el botón */
#comprobar::before {
  left: 0; /* Mueve la 'mecha' hacia la derecha al pasar el ratón */
}
#comprobar:active {
    box-shadow: 1px 2.5px 3.5px rgba(0, 0, 0, 0.3);
    transition: left 0.3s ease; /* Transición suave */
}

#juego input {
  padding: 10px;
  border-radius: 10px;
  background: linear-gradient(rgb(255, 255, 255), rgb(155, 155, 155));
  border: 0.5px solid black;
  margin: 1px;
}

#mensaje{
  margin: 10px auto;
  font-size: 30px;
  font-family: 'Digital-7';
  color: black;
}

#intentos {
  font-size: 80px;
  margin-top: -20px;
}

#reiniciarJuego {
  width: 70px;
  cursor: pointer;
}




@media (min-width: 1025px) {
  h1 {
    font-size: 60px !important;
    margin-bottom: 60px;
  }

  h2 {
    font-size: 16px;
  }
  #explosion {
    height: 450px;
  }

  #comprobar {
    width: 120px;
    height: unset;
    font-size: 18px;
    text-align: center;
    border: unset;
  }

  p {
    margin-top: -20px;
    font-size: 20px;
    width: 100%;
  }

  #juego {
    top: 60%;
  }

  #mensaje {
    font-size: 20px;
  }

  #counter {
    margin-top: 5rem !important;
  }

  #juego input {
    width: 15px;
    height: 15px;
  }

  h4 {
    font-size: 24px;
  }

  #intentos {
    font-size: 30px;
  }

  #boton-jugar {
    width: 220px;
    height: unset;
    margin-top: -13rem;
    font-size: 20px;
  }
  #boton-audio {
    bottom: 15px;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 60px !important;
    margin-bottom: 60px;
  }

  h2 {
    font-size: 14px;
  }
  #explosion {
    height: 450px;
  }

  #comprobar {
    width: 120px;
    height: unset;
    font-size: 18px;
    text-align: center;
    border: unset;
  }

  p {
    position: relative;
    margin-top: -60px;
    font-size: 16px;
    width: 100%;
  }

  #juego {
    top: 55%;
  }

  #mensaje {
    position: absolute;
    font-size: 20px;
  }

  #counter {
    position: relative;
    top: 1.5rem !important;
  }

  #juego input {
    width: 15px;
    height: 15px;
  }

  h4 {
    font-size: 20px;
  }

  #intentos {
    font-size: 24px;
  }

  .div-intentos {
    position: relative;
    top: 140px;
  }
  
  #boton-jugar {
    width: 220px;
    height: unset;
    margin-top: -13rem;
    font-size: 20px;
  }
  #boton-audio {
    left: center;
    bottom: unset;
    margin-top: 20px !important;
  }
}